<html>
    <head>
        <title>Police Reports Berlin</title>
        <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
    </head>
    <body>
        <div>
            Police Reports Berlin:
            <a href="{{ url_for('searchPage') }}">
                {% if request.path.startswith(url_for('searchPage')) %}
                    <b>Search</b>
                {% else %}
                    Search
                {% endif %}
            </a>
            <a href="{{ url_for('browsePage', fromID=1, toID=10) }}">
                {% if request.path.startswith(url_for('browsePage', fromID=1, toID=10)) %}
                    <b>All Reports</b>
                {% else %}
                    All Reports
                {% endif %}
            </a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
