{% extends "base.html" %}

{% block content %}
    <h1>Browse All Reports</h1>
    <form id="filterForm" method="post">
        {{ filterForm.hidden_tag() }}
        <span id="orderingLabel">Ordering:</span>{{ filterForm.order }}
        <span id="filteringLabel">Filter:</span>{{ filterForm.classes }}
        <input type="submit" value="Apply">
    </form>
    {% if reports %}
        {% for report in reports %}
            <div class="report">
                <div class="reportTitle">
                <a href="/view/{{ report.id }}">{{ report.title }}</a>
                </div>
            <div class="reportLocDate">{{ report.location }} | {{ report.date }}</div>
            <div class="reportLink">{{ " ".join(report.event.split()[0:30]) + " [...]" }}</div>
            </div>
        {% endfor %}
        <div class="nav"><a id="navLast" href="javascript:history.back()">Last</a> <a id="navNext" href="/browse/{{ toID + 1 }}/{{ toID + 1 + displayedPages }}">Next</a></div>
    {% endif %}
{% endblock %}
