body {
    font-family: Arial;
}

.report {
    padding-bottom: 15;
    width: 650px;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

.reportTitle {
    font-size: larger;
}

.reportLocDate {
    font-size: small;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}