body {
    font-family: Arial;
}

.report {
    padding-bottom: 15;
    width: 700px;
}

.singleReport {
    width: 700px;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

.reportTitle {
    font-size: larger;
}

.reportLocDate {
    font-size: small;
    font-weight: bold;
}

.reportClassSticker {
    background-color: #eee;
    font-weight: 400;
    border-radius: 6px;
    color: #000;
    padding: 2px 9px;
    font-size: 12px;
    font-style: normal;
}

.reportClassSticker:hover, .reportClassFilters:hover {
    font-weight: bold;
    cursor: pointer;
}

.reportClassFilters {
    background-color: #eee;
    font-weight: 400;
    border-radius: 6px;
    color: #000;
    padding: 2px 9px;
    font-size: 12px;
}

.filterStickers {
    padding-bottom: 12px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

h1 {
    padding-bottom: 6px;
    margin: 0px;
}

#filtersLabel {
    font-size: 14px;
}

#filteringLabel, #orderingLabel {
    font-size: 14px;
    font-weight: bold;
}

li label {
    font-size: 12px;
}

input[type="radio"] {
    width: 12px;
    height: 12px;
}

input[type="submit"] {
    font-size: 12px;
}

#navNext {
    float: right;
}

.nav {
    width: 700px;
}